@import url('https://fonts.cdnfonts.com/css/itc-avant-garde-pro-md') ;

.App__Light .about-container {
  align-items: center;
  margin: auto;
  text-align: center;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  padding: 50px;
  width: 1000px;
}

.App__Dark .about-container {
  align-items: center;
  margin: auto;
  text-align: center;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  padding: 50px;
  width: 1000px;
}

.App__Dark .aboutme-page h1 {
  margin-top: 0px;
  padding: 20px;
  color: white;
  font-family: monospace, cursive;
}

.App__Light .aboutme-page h1 {
  margin-top: 0px;
  padding: 20px;
  font-family: monospace, cursive;
  color: black;
}

.App__Light .subtitle-who {
  padding: 20px;
}

.App__Dark .subtitle-who {
  padding: 20px;
  color: whitesmoke;
}

.App__Dark .text-aboutme {
  margin-top: 10px;
  text-align: justify;
  padding: 20px;
  width: 500px;
  color: whitesmoke;
}

.App__Light .text-aboutme {
  margin-top: 10px;
  text-align: justify;
  padding: 20px;
  width: 500px;
}

.joana-picture {
  width: 400px;
}

.education h2 {
  color: #E0218A;
  font-size: 20px;
}

.education {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.education ul {
  list-style-type: none;
  padding: 30px;
}

.education li {
  color: #E0218A;
  text-align: left;
  font-size: 16px;
}

.photo-title {
  font-family: 'ITC Avant Garde Pro Md' , sans-serif;
  color: white;
  font-size: 20px;
}

.path-curve {
  fill: transparent;
}

.App__Dark text {
  fill: white;
}

.App__Light text {
  fill: black;
}