@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap') ;

* {
  font-family: Epilogue , sans-serif;
}

.App__Light .about-container {
  align-items: center;
  margin: auto;
  text-align: center;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  padding: 50px;
  width: 1000px;
}

.App__Dark .about-container {
  align-items: center;
  margin: auto;
  text-align: center;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  padding: 50px;
  width: 1000px;
}

.App__Dark .aboutme-page h1 {
  margin-top: 0px;
  padding: 20px;
  color: white;
  font-family: monospace, cursive;
}

.App__Light .aboutme-page h1 {
  margin-top: 0px;
  padding: 20px;
  font-family: monospace, cursive;
  color: black;
}

.App__Light .subtitle-who {
  padding: 20px;
}

.App__Dark .subtitle-who {
  padding: 20px;
  color: whitesmoke;
}

.App__Dark .text-aboutme {
  margin-top: 10px;
  text-align: justify;
  padding: 20px;
  width: 500px;
  color: whitesmoke;
}

.App__Light .text-aboutme {
  margin-top: 10px;
  text-align: justify;
  padding: 20px;
  width: 500px;
}

.App__Dark .joana-picture {
  width: 400px;
  border-radius: 50%;
  border: 5px solid #E0218A;
}

.App__Light .joana-picture {
  width: 400px;
  border-radius: 50%;
  border: 5px solid #E0218A;
}

.education h2 {
  color: #E0218A;
  font-size: 20px;
}

.education {
  display: flex;
  justify-content: center;
  align-items: center;
}

.education ul {
  list-style-type: none;
  padding: 30px;
}

.education li {
  color: #E0218A;
  text-align: left;
  font-size: 16px;
}