@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap') ;

.navbar-brand {
  font-family: 'Gochi Hand', cursive;
  font-size: 30px;
}

.App__Light .btn-group {
  cursor: pointer;
  font-size: 30px;
}

.App__Dark .btn-group {
  cursor: pointer;
  font-size: 30px;
  color: white;
}

.btn-group:hover {
  color: gray;
}

.App__Dark .navbar-brand{
  color: whitesmoke;
}