.navbar-brand {
  font-family: 'monospace', cursive;
  font-size: 30px;
}

.App__Light .btn-group {
  cursor: pointer;
  font-size: 30px;
}

.App__Dark .btn-group {
  cursor: pointer;
  font-size: 30px;
  color: white;
}

.btn-group:hover {
  color: gray;
}

.App__Dark .navbar-brand{
  color: whitesmoke;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.602);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  font-size: 16px;
  z-index: 1;
}

.btn-group:hover .tooltiptext {
  visibility: visible;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.btn-dark {
  font-size: 14px !important;
}

.btn-dark:hover {
  border-color: #7c4887 !important;
}

.btn-dark:disabled {
  border-color: gray !important;
}

.btn-light {
  font-size: 14px !important;
}

.btn-light:hover {
  border-color: #7c4887 !important;
}

.btn-light:disabled {
  border-color: gray !important;
}