@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap') ;

.App__Light .home-container {
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  width: 1000px;
}

.App__Dark .home-container {
  margin: auto;
  margin-top: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  width: 1000px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.App__Light .home-page h2 {
  font-family: 'Bartex', cursive;
  text-align: center;
  color: black;
}

.App__Dark .home-page h2 {
  font-family: 'Bartex', cursive;
  text-align: center;
  color: whitesmoke;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

/* .App__Dark .button-home span {
  font-family: 'Bartex', monospace;
  font-size: 30px;
  color: #E0218A;
} */

.button-home {
  color: black;
  background-image: url('../images/button-color.jpg');
  font-size: 18px;
  font-weight: 700;
  margin-top: 16px;
  outline: none;
  transition: all 300ms ease-in;
  padding: 8px 38px;
  border-radius: 10px;
  border-style: none;
}

.button-home:hover {
  transform: scale(1.3);
  cursor: pointer;
}