.App__Light .home-container {
  margin: auto;
  margin-top: 50px;
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  display: flex;
  justify-content: center;
  padding: 50px;
  width: 1000px;
}

.App__Dark .home-container {
  margin: auto;
  margin-top: 50px;
  background-color: #181818;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);  
  display: flex;
  justify-content: center;
  padding: 50px;
  width: 1000px;
}