@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap') ;

.App__Light .home-container {
  margin: auto;
  margin-top: 30px;
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  width: 1000px;
}

.App__Dark .home-container {
  margin: auto;
  margin-top: 30px;
  background-color: #181818;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  width: 1000px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.App__Light .home-page h2 {
  font-family: 'Gochi Hand', cursive;
  text-align: center;
  color: black;
}

.App__Dark .home-page h2 {
  font-family: 'Gochi Hand', cursive;
  text-align: center;
  color: whitesmoke;
}

.home-page h1 {
  font-family: 'Gochi Hand', cursive;
  font-size: 50px;
  color: #7c4887;
  text-align: center;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.button-home {
  color: gray;
  background: transparent;
  border: 2px solid #7c4887;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 16px;
  outline: none;
  transition: all 300ms ease-in;
  padding: 8px 16px;
}

.button-home:hover {
  transform: scale(1.3);
  cursor: pointer;
}