@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap') ;

/* .App__Dark .projects-page h1 {
  font-family: 'Gochi Hand', cursive;
  margin-top: 20px;
  text-align: center;
  color: white;
} */

/* .App__Light .projects-page h1 {
  font-family: 'Gochi Hand', cursive;
  margin-top: 20px;
  text-align: center;
} */

.App__Light .carousel-container {
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  width: 1000px;
}

.App__Dark .carousel-container {
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  width: 1000px;
}

.buttons-card {
  display: flex;
  justify-content: center;
}

.card {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

.App__Dark .card {
  background-color: black;
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

.App__Dark .card-title {
  color: black;
}

.App__Dark .card-text {
  color: black;
}

.btn-secondary {
  background-color: gray;
  border: none !important;
}

.btn-secondary:hover {
  color: black !important;
  background-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
}

.dropdown-css {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}