.App__Dark .projects-page h1 {
  font-family: 'monospace', cursive;
  font-size: 30px;
  text-align: center;
  color: white;
}

.App__Light .projects-page h1 {
  font-size: 30px;
  font-family: 'monospace', cursive;
  text-align: center;
}

.App__Light .carousel-container {
  margin: auto;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 1000px;
}

.App__Dark .carousel-container {
  margin: auto;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 1000px;
}

.buttons-card {
  display: flex;
  justify-content: center;
}

.card {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

.App__Dark .card {
  background-color: black;
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

.App__Dark .card-title {
  color: white;
}

.App__Dark .card-text {
  color: white;
}

.btn-secondary {
  color:  black !important;
  background-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border: none !important;
}

.btn-secondary:hover {
  opacity: 0.6;
}

.App__Dark .btn-secondary:active {
  border-style: inset !important;
  border-width: 0.1px !important;
  border-color: black !important;
}

.App__Light .btn-secondary:active {
  border-style: inset !important;
  border-width: 0.1px !important;
  border-color: white !important;
}

.dropdown-css {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}