.projects-page {
  margin-top: 20px;
}

.App__Light .carousel-container {
  margin: auto;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 1000px;
}

.App__Dark .carousel-container {
  margin: auto;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 1000px;
}

.buttons-card {
  display: flex;
  justify-content: center;
}

.card {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

.App__Dark .card {
  background-color: black;
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

.App__Dark .card-title {
  color: white;
}

.App__Dark .card-text {
  color: white;
}

.btn-secondary {
  color: black !important;
  background-image: url('../images/button-color.jpg');
  border: none !important;
}

.btn-secondary:hover {
  opacity: 0.6;
}

.App__Dark .btn-secondary:active {
  border-style: inset !important;
  border-width: 0.1px !important;
  border-color: black !important;
}

.App__Light .btn-secondary:active {
  border-style: inset !important;
  border-width: 0.1px !important;
  border-color: white !important;
}

.dropdown-css {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dropdown-item:active {
  background-color: #E0218A !important
}
