@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap') ;

.App__Light .tools-page h1 {
  font-family: 'Gochi Hand', cursive;
  text-align: center;
  margin-top: 50px;
}

.App__Dark .tools-page h1 {
  font-family: 'Gochi Hand', cursive;
  text-align: center;
  color: white;
  margin-top: 50px;
}

.App__Dark .tools-page h2 {
  color: white;
}

.App__Light .table-container {
  align-items: center;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px;
  width: 1000px;
}

.App__Dark .table-container {
  align-items: center;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  background-color: #181818;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px;
  width: 1000px;
}

.tool {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table {
  width: 300px;
  margin-top: 30px;
}

.learn {
  display: flex;
  flex-direction: column;
}

.learn-title {
  margin-left: 60px;
}

.will-learn-title {
  margin-left: 55px;
  text-align: center;
}

.email-item {
  display: flex;
  align-items: center;
}