.my-tools {
  border-top: 100px;
  margin-bottom: 150px;
}

.my-tools .table {
  text-align: center;
  width: auto; /* Largura automática com base no conteúdo */
  max-width: 80%; /* Largura máxima de 80% */
  border-collapse: separate;
  margin: 0 auto; /* Centralizar a tabela horizontalmente */
}

.my-tools .tool-cell {
  text-align: center;
  width: 150px; /* Largura fixa para células quadradas */
  height: 150px; /* Altura fixa para células quadradas */
  padding: 10px;
}

.my-tools .icon {
  color: #E0218A;
  font-size: 36px;
  margin-bottom: 10px;
}

.my-tools .name {
  font-size: 16px;
}
